@{
    ViewBag.Title = "About Heifer International";
}
<h2>@ViewBag.Title</h2>

<h4>Heifer International - Have confidence that your product is labelled correctly at each step in the supply chain.</h4>
<div style="text-align:left">
    <br />
    <p>
        At Heifer International, we recognize the importance of labels such as "organic" and "Free-roam" on the products you make, distribute, or sell.
        It's essential that these products be marked correctly, so that no matter which link you are in the supply chain, you can have confidence in the
        product you are providing. That's why Heifer International has provided this blockchain-powered application. Using this web-site, you can log your
        product and through the power of blockchain technology, know with assurity that the labels of your product make it through from the beginning to
        the end of the supply chain.
    </p>
    <br />
    <p>
        As a farmer / producer, you can log in and create new products. In the creation process, you may select the label which applies to your product.
        Afterwards, when you ship the product to its next destination, you can be sure that the label will remain with the product throughout its life-cycle.
    </p>
    <br />
    <p>
        As a distributor or retailer, you can log in and view the shipments you have coming in, along with their products and associated labels. With the
        guarantee provided by blockchain technology, you can be sure that these labels are accurate and have not be tampered. Your customers can have that same assurance.
    </p>
</div>
