
@{
    ViewBag.Title = "Farmer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-3">Heifer International</h1>
    <p class="lead">Farmer Portal</p>
    <hr class="my-4">
    <p>Click the link below to create an asset for the blockchain.</p>
    <p class="lead">
<<<<<<< HEAD
        <a class="btn btn-primary btn-lg" href="/Items/Create" role="button">+ Add +</a>
=======
        <a class="btn btn-primary btn-lg" href="/Home/Login" role="button">Create Asset</a>
>>>>>>> f3a937dd1017383e13d936991bf3732370ed467a
    </p>
</div>

<div class="row">
    <div class="col-md-4" style="padding-top: 20px">
        <img class="img-responsive center-block" src="~/Content/Images/cow.jpg" />
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        <img class="img-responsive center-block" src="~/Content/Images/produce.jpg" />
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        <img class="img-responsive center-block" src="~/Content/Images/farmer.jpg" />
    </div>
</div>