@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1 class="display-3">Heifer International</h1>
    <p class="lead">Blockchain-powered Supply Chain Website</p>
    <hr class="my-4">
    <p>Have confidence that your product is labelled correctly at each step in the supply chain.</p>
    <p class="lead">
        @if (BlockChain2.Controllers.HomeController.userType == "farmer")
        {
            <a class="btn btn-primary btn-lg" href="/Home/Farmer" role="button">Get Started</a>
        }
        else if (BlockChain2.Controllers.HomeController.userType == "vendor")
        {
            <a class="btn btn-primary btn-lg" href="/Home/Vendor" role="button">Get Started</a>
        }

    </p>
</div>
<div class="row">
    <div class="col-md-4" style="padding-top: 20px">
        <img class="img-responsive center-block" src="~/Content/Images/cow.jpg" />
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        <img class="img-responsive center-block" src="~/Content/Images/produce.jpg" />
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        <img class="img-responsive center-block" src="~/Content/Images/farmer.jpg"/>
    </div>
</div>

