
@{
    ViewBag.Title = "Vendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-3">Heifer International Vendor Portal</h1>
    <hr class="my-4">
    <p>Click the link below to Verify an asset from the blockchain.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Items/Index" role="button">Verify</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4" style="padding-top: 20px">
        <img class="img-responsive center-block" src="~/Content/Images/cow.jpg" />
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        <img class="img-responsive center-block" src="~/Content/Images/produce.jpg" />
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        <img class="img-responsive center-block" src="~/Content/Images/farmer.jpg" />
    </div>
</div>