body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    text-align: center;
    background-image: url("https://www.xmple.com/wallpaper/grey-gradient-linear-highlight-white-1920x1080-c2-ffffff-dcdcdc-l-67-a-135-f-21.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 15px;
}

.menu-link {
    position: relative;
    color: white !important;
    text-decoration: none;
    margin-right: 15px;
}

.myForm {
    text-align: right;
    padding-right: 25%;
}

.menu-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.menu-link:hover {
    color: white !important;
}

img {
    border-radius: 5px;
}

.contact-text-box {
    max-width: 300px;
    width: 300px;
    height: 200px;
    max-height: 500px;
}

input, select {
    border-radius: 30px;
    border: solid #a3a3a3 1.5px;
    height: 2.4em;
    padding: 5px;
    -webkit-transition: 0.4s;
}

    input:focus, textarea:focus, select:focus {
        outline: none;
        border-color: rgb(55,120,255);
    }

    select:focus {
        border-radius: 13px 13px 0px 0px;
    }

textarea {
    border-radius: 5px;
    padding: 5px;
    -webkit-transition: 0.2s;
    border: solid #a3a3a3 1.5px;
}

.submit-button {
    margin: 8px;
    -webkit-transition: 0.4s;
    color: white;
    background: rgb(0,36,189);
    background: linear-gradient(36deg, rgba(0,36,189,1) 0%, rgba(55,120,255,1) 100%);
    height: 2.8em;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

    .submit-button:hover {
        box-shadow: #717171 0px 1px 17px 3px;
    }

.contact-text-box-mission {
    width: 300px;
    max-width: 300px;
    max-height: 500px;
    height: 100px;
}

.navbar-inverse {
    background: rgb(0,36,189);
    background: linear-gradient(36deg, rgba(0,36,189,1) 0%, rgba(55,120,255,1) 100%);
    border: none;
}

th {
    text-align: center;
}